# SAP CONNECTION
SAP_ECC_HOST=
SAP_ECC_PORT=
SAP_ECC_INSTANCE_NO=
SAP_ECC_USER=
SAP_ECC_PASSWORD=
SAP_ECC_CLIENT=
SAP_ECC_SYSID=
SAP_ECC_URL=
SAP_ECC_RFC_URL=
SAP_ECC_WEBGUI=
SAP_S4HANA_URL=

# SAP S8H S/4HANA 2025 CONNECTION
SAP_S8H_USER=
SAP_S8H_PWD=
SAP_S8H_BASE_URL=
SAP_S8H_WEBGUI=
SAP_S8H_FIORI=

# CRM CONNECTORS
SALESFORCE_CLIENT_ID=
SALESFORCE_CLIENT_SECRET=
SALESFORCE_INSTANCE_URL=

# DATA WAREHOUSE & LAKES
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_WAREHOUSE=
DATABRICKS_TOKEN=
DATABRICKS_WORKSPACE_URL=

# CLOUD STORAGE
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=
AZURE_STORAGE_ACCOUNT=
AZURE_STORAGE_KEY=
GCP_PROJECT_ID=
GCP_GCS_BUCKET=

# GEMINI API KEY
GEMINI_API_KEY=
